     body{
            background:#f6f6f6;
        }

        .block-heading{
            text-align:center;
            margin:50px 0;
        }

        .block-heading h2{
            color:#3b99e0;
        }

        .product{
            padding:25px 0;
            border-bottom:1px solid #dee2e6;
        }

        .summary{
            background:#f7fbff;
            border-top:3px solid #5ea4f3;
            padding:30px;
        }

        .summary-item{
            padding:10px 0;
            border-bottom:1px solid #dee2e6;
        }

        .summary .btn{
            margin-top:20px;
        }
    